[Unit]
Description=System Status backend
After=network.target

[Service]
WorkingDirectory=/home/rodrigo/project/vps/status_vps/backend
ExecStart=/home/rodrigo/project/vps/status_vps/backend/.venv/bin/uvicorn app.main:app --host 127.0.0.1 --port 8000
Restart=always
User=rodrigo

[Install]
WantedBy=multi-user.target
