[Unit]
Description=System Status backend (NestJS)
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/rodrigo/project/vps/status_vps/backend-node
ExecStart=/usr/bin/node dist/main.js
Restart=always
RestartSec=3
User=rodrigo

[Install]
WantedBy=multi-user.target
